
.list-item-calls-title
{
    float:left;
    width:100%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    padding:10px 10px 10px 10px;
    line-height:150%;
    height: 100%;
    background: no-repeat;
    background-position: center center;
	padding-left: 70px;
	padding-bottom: 20px;
}
.fire {
	background-color: #EBEBEB;
    background-image: url(../images/fire.png);
}

.police {
	background-color: #EBEBEB;
    background-image: url(../images/police.png);
}

.medical {
	background-color: #EBEBEB;
    background-image: url(../images/medical.png);
}

.x-mask .x-mask-inner {
	background-color: #9F9F9F;
	background-image: url(../images/ic_launcher.png),linear-gradient(top, #EBEBEB, #B0B0B0 2%, #8D8D8D);
	background-image: url(../images/ic_launcher.png),-o-linear-gradient(top, #EBEBEB, #B0B0B0 2%, #8D8D8D);
	background-image: url(../images/ic_launcher.png),-moz-linear-gradient(top, #EBEBEB, #B0B0B0 2%, #8D8D8D);
	background-image: url(../images/ic_launcher.png),-webkit-linear-gradient(top, #EBEBEB, #B0B0B0 2%, #8D8D8D);
	background-image: url(../images/ic_launcher.png),-ms-linear-gradient(top, #EBEBEB, #B0B0B0 2%, #8D8D8D);
	background-image: url(../images/ic_launcher.png), -webkit-linear-gradient(top, #EBEBEB, #B0B0B0 2%, #8D8D8D);
	height: 120px;
	background-position: 50% 20%;
	background-repeat:no-repeat;
}

.x-mask .x-mask-message {
	padding-top: 40%;
}

.list-item-title
{
    float:left;
    width:100%;
    font-size:90%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    padding-right:25px;
    line-height:150%;
}
.x-form .x-scroll-container > .x-inner {
	padding: 0em;
}
.x-item-selected .list-item-title 
{
    color:#ffffff;
}
.x-list-calls .x-list-item-label{
	height: 7em;
	padding: 0px!important;
    min-height: 3.5em!important;
}

.x-list-countries .x-list-item-label{
    min-height: 3.5em!important;
    padding: 0.65em 0.8em;
}

.x-list-item .flag-icon-class {
	background: no-repeat 0px 3px;
	padding-left: 36px;
	background-size: 24px 16px;
}
.country-flag {
	margin-top: -9px;
}
.x-input-search {
	width: 80% !important;
}
.x-list-inner .x-mask {
	background: #F0F0F0 center center no-repeat;
	text-align: center;
}

